[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
codecov = "*"
flake8 = "*"
pip = "*"
pre-commit = "*"
pycodestyle = "*"
pylint = ">=2.6.0"
pytest = ">=6.0.1"
pytest-cov="*"
python-dotenv = ">=0.14.0"
setuptools = "*"
twine = "*"
wheel = "*"
sphinx = ">=3.2.1"

[packages]
isogeo-pysdk = ">=3.2.5,<3.5"
docxtpl = "==0.11.*"

[requires]
python_version = "3.7"
